* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header-section style */

.banner {
    background-image: url(images/banner/banner3.png);
    width: 1500px;
    height: 808x;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    height: 228px;
    width: 525px;
    padding-right: 230px;
    padding-top: 216px;
    padding-bottom: 346px;
    padding-left: 745px;
    text-align: right;
}

.bg-text .heading {

    font-size: 55px;
    font-weight: 800;
    color: #FFFFFF;
}

.bg-text .description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 31px;
    width: 494px;
    height: 78px;
    padding-bottom: 32px;
}

.btn-primary {
    height: 50px;
    border: 0;
    color: #005FAC;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FFFFFF;
    text-decoration: none;
    padding: 18px 20px;
}

/* my failuer styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.my-failuer {
    display: flex;
    gap: 80px;
    margin-top: 125px;
}

.title {
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-top: 130px;
}

.sub-title {
    width: 416px;
    height: 104px;
    padding-top: 24px;
}

.list-pos {
    padding-right: 159px;
}

ul {
    list-style: none;

}

li {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
}

li:before {
    content: '✓';
    color: rgb(57, 230, 103);
    font-weight: 800;
}

/* my plan styles */
.my-paln {
    margin-top: 120px;
}

.section-title {
    text-align: center;
    font-size: 36px;
}

.skills-container {
    display: flex;
    gap: 80px;
}

.skill {
    text-align: center;
    margin-top: 46px;
}

.skill-tittle {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-top: 12px;
}

.skill-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 12px;
}

/* linear-img */
.linear {

    margin-top: 120px;
}

h2 {
    font-size: 35px;
    color: #FFFFFF;
    width: 459px;
    height: 94px;
    padding-left: 64px;
    padding-top: 59px;
    padding-bottom: 24px;
}

a {
    margin-right: 13px;
}

#call-now {
    margin-left: 64px;
}


.gradient {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0)), url(images/watch.png);
    width: 1100px;
    height: 300px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* extra-section */
.extra-section {
    width: 730px;
    height: 300px;
    display: flex;
    gap: 200px;
    background: #ede558;
    color: #444343;
    padding: 50px 190px;
    margin-top: 120px;
}

.submit-btn {
    height: 50px;
    border: 0;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background: #b5aeae;
    margin-left: 20px;
    margin-top: 20px;

}

.extra-section h3 {
    font-size: 26px;
    padding-top: 62px;
}

.form input[type="text"],
input[type="email"],
input[type="password"] {
    border: 2px solid #151414;
    border-radius: 10px;
    padding: 11px;
    padding-right: 156px;
    background: none;
    margin: 23px;
}

/* footer styles */
.footer-section {
    display: flex;
    gap: 300px;
    background: #151414;
    color: #FFFFFF;
    padding: 130px 200px;
    margin-top: 120px;

}

a {
    text-decoration: none
}

.footer-section .section-title {
    text-align: left;
}

.footer-section input[type="email"] {
    margin-bottom: 24px;
    font-size: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 70%;
    padding: 11px 20px;
    background: none;
    color: #FFFFFF;
}